# ==========================================
# 管理用Excel
# ==========================================

specimens.xlsx
localities_open.xlsx

01_標本データ/
03_発掘地点/

# ==========================================
# 管理用画像
# ==========================================

02_標本画像/

# ==========================================
# 管理用Python
# ==========================================

data_update.py
make_thumbs.py
update_all.py
update_all.bat
test.py

# ==========================================
# 管理用バックアップ
# ==========================================

index_buckup_map.html

# ==========================================
# Pythonキャッシュ
# ==========================================

__pycache__/
*.pyc

# ==========================================
# ローカル用ファイル
# ==========================================

*.log